body{
    background-color: aquamarine;
}
.padre{
    background-color: rgb(255, 81, 0);
    padding: 15px;
    margin: 5px;
}
.titulo{
    background-color: darkblue;
}
.menu{
    background-color: darkorange;

}
.contenido{
    background-color: darkgreen;
    width: auto;
    height: 350px;

}
.pie{
    background-color: darkcyan;

}
.c1{
    background-color: rgb(199, 27, 27);
    width: 500px;
    height:280px;
    position: absolute ;
    top: 150px;
    right: 180px;
    
}
.c2{
    background-color: darkred;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 170px;
    right: 150px;
    left: 250px;
}
.c3{
    background-color: mediumturquoise;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 250px;
    right: 300px;
}
.c4{
    background-color: lightgrey;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 250px;
    right: 100px;
    left: 350px;
}
